.DS_Store
node_modules
.pnpm-store
/build
/dist
/dist-cli
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
docs/.vitepress/cache
docs/.vitepress/dist
.idea/
*.wasm
/pa_ay_ts

